.welcome-card img {
  max-height: 35vh;
}

.main {
  height: 350px !important;
  margin-top: 50px;
}

.card-content-md {
  padding-bottom: 35px !important;
}

.stockForm {
  height:200px !important;
}